* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* Colors here */
:root {
    --bg-color: #000;
    --text-color: #0f172a;
    --main-color: #fff;
    --home-color: #d6621f;
    --other-color:  #334155;
    --orange-color: #FD5201;
    --big-font: 4.4rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background: var(--main-color);
    color: var(--text-color);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    right: 0;
}
/* .navbar {
    display: flex;
    align-items: center;
} */
.navbar a {
    display: inline-block;
    color: var(--text-color);
    padding: 10px 18px;
    margin: 0 10px 0 10px;
    font-size: 20px;
    transition: all 0.45s ease;
}
.navbar a:hover {
    background: var(--other-color);
    color: var(--main-color);
} 
.navbar a.active {
    color: var(--main-color);
    background: var(--other-color);
}
#menu {
    display: none;
    z-index: 2;
}

@media (max-width: 992px) {
    #menu {
        display: block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .navbar  {
        /* background: var(--bg-color); */
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.7s ease;
    }
    .navbar a {
        display: block;
        margin: 1.1rem 0;
        font-size: 15px;
    }
    .navbar.open {
        right: 0;
    }
}
